.registrationbox{
    width: 50%;
    margin-left: 27%;
    margin-top: 13%;
    margin-bottom: 7%;

}

.registrationcontainer{
    width: 50%;
    background-color: #eee;
    height: 120%;
    
}

#registrationheading{
    margin-top: 5%;
    padding-left: 15%;
    color: darkcyan;
}

#registrationbutton{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 35%;
    background-color: darkcyan;
    color: white;
    font-variant: normal;
    
}

.error-label{
    position: absolute;
}
